<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<% mystring = 'Hello World' %>

<h1>
  <%= mystring %>
</h1>

<h1>
  Now, Let us count:
</h1>

<ul>
  <% for counter_i in 0..4 do %>
    <li><%= counter_i %></li>
  <% end %>
<ul>
  